{% extends "base.html" %}
{% block content %}


<div class="page-header" id="banner">
    <div class="row">
        {% for daily in Daily %}
        <div class="card bg-light mb-3 col-lg-4 p-0" style="min-height: 18rem;">
            <div class="card-body"
                style="background-image: url('media/{{ daily.daily_image }}'); background-size:cover;">
                <p class="card-text text-white">{{ daily.content }}</p>
            </div>
            <div class="card-footer">
                <div class="col-lg-3 float-left text-center text-primary" role="button"
                    onclick="DailyClick('like', {{ daily.id }});">
                    <i class="far fa-thumbs-up"></i>
                    <text id="daily_like_{{ daily.id }}">{{ daily.like }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-info" role="button">
                    <i class="fab fa-readme"></i>
                    <text id="daily_read_{{ daily.id }}">{{ daily.read }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-danger" role="button"
                    onclick="DailyClick('bookmark', {{ daily.id }});">
                    <i class="fas fa-bookmark"></i>
                    <text id="daily_bookmark_{{ daily.id }}">{{ daily.bookmark }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-dark" role="button">
                    <i class="far fa-comment-dots"></i>
                    <text id="daily_reply_{{ daily.id }}">{{ daily.reply }}</text>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var DailyClick = function (btn_type, daily_id) {
        var reqInfo = new Common.RequestInfo();
        reqInfo.AddParameter("daily_id", daily_id);
        reqInfo.AddParameter("action", btn_type);

        Common.Ajax('daily/action/', reqInfo, function (rtn) {
            if (rtn.substring(0, 13) == "|||SUCCESS|||") $("#daily_" + btn_type + "_" + daily_id).text(rtn.substring(13));
            else location.href = "user/login";
        }, { 'formMethod': "GET" })
    }

    var LoginCheck = function () {
        var login_id = '{{ request.session.login_id }}';
        if (login_id === '') return false;
        return true;
    }
</script>
{% endblock content %}