{% extends "base.html" %}
{% block content %}

<div class="jumbotron bg-light">
    <h1 class="display-4">
        <text id="weather_location"></text>
        <i id="weather_icon" class="wi float-right"></i>
    </h1>
    <hr>
    <h4 class="display-6">
        <div class="float-left col-lg-6">
            <text id="weather_temp"></text>
            <i class="wi wi-celsius"></i>
            &nbsp;/&nbsp;
            <text id="weather_feel_temp"></text>
            <i class="wi wi-celsius"></i>
        </div>
        
        <div class="float-left col-lg-3">
            <text id="weather_humidity"></text>
            <i class="wi wi-humidity"></i>
        </div>

        <div class="float-left col-lg-3">
            <text id="weather_wind"></text>
            <i class="wi wi-strong-wind"></i>
        </div>
    </h4>
</div>
<hr>
<script>
    $(document).ready(function(){
        var reqInfo = new Common.RequestInfo();
        reqInfo.AddParameter("lat", Navi.lat);
        reqInfo.AddParameter("lon", Navi.lon);

        Common.Ajax("weather/", reqInfo, function(rtn){
            console.log(rtn);
            Weather = Object.assign(Weather, JSON.parse(rtn));

            $("#weather_icon").addClass(Weather.getIconClass());
            $("#weather_icon").text(Weather.data.weather[0].description);
            $("#weather_location").text(" " + Weather.data.name);

            $("#weather_temp").text("현재 온도:" + parseInt(Weather.data.main.temp - 273));
            $("#weather_feel_temp").text("체감 온도:" + parseInt(Weather.data.main.feels_like - 273));

            $("#weather_humidity").text("습도:" + parseInt(Weather.data.main.humidity));
            
            $("#weather_wind").text("풍속:" + Weather.data.wind.speed);
        }, { 'formMethod': "GET" })
    })
</script>
<div class="page-header" id="banner">
    <div class="row">
        {% for daily in Daily %}
        <div class="card bg-light mb-3 col-lg-4 p-0" style="min-height: 18rem;">
            <div class="card-body daily-card"
                style="background-image: url('media/{{ daily.daily_image }}'); background-size:cover; cursor: pointer;"
                onclick="location.href='daily/{{ daily.id }}'">
                <p class="card-text text-white">{{ daily.content }}</p>
            </div>
            <div class="card-footer daily-card-footer">
                <div class="col-lg-3 float-left text-center text-primary" role="button"
                    onclick="DailyClick('like', '{{ daily.id }}');">
                    <i class="far fa-thumbs-up"></i>
                    <text id="daily_like_{{ daily.id }}">{{ daily.like }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-info" role="button">
                    <i class="fab fa-readme"></i>
                    <text id="daily_read_{{ daily.id }}">{{ daily.read }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-danger" role="button"
                    onclick="DailyClick('bookmark', '{{ daily.id }}');">
                    <i class="fas fa-bookmark"></i>
                    <text id="daily_bookmark_{{ daily.id }}">{{ daily.bookmark }}</text>
                </div>
                <div class="col-lg-3 float-left text-center text-dark" role="button">
                    <i class="far fa-comment-dots"></i>
                    <text id="daily_reply_{{ daily.id }}">{{ daily.reply }}</text>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    var DailyClick = function (btn_type, daily_id) {
        var reqInfo = new Common.RequestInfo();
        reqInfo.AddParameter("daily_id", daily_id);
        reqInfo.AddParameter("action", btn_type);

        Common.Ajax('daily/action/', reqInfo, function (rtn) {
            if (rtn.substring(0, 13) == "|||SUCCESS|||") $("#daily_" + btn_type + "_" + daily_id).text(rtn.substring(13));
            else location.href = "user/login";
        }, { 'formMethod': "GET" })
    }

    var LoginCheck = function () {
        var login_id = '{{ request.session.login_id }}';
        if (login_id === '') return false;
        return true;
    }
</script>
{% endblock content %}